<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>

    <title>Controle de Usuário</title>
</head>
<body>
    <header th:insert="~{header.html}"></header>

    <div class="main-content">
        <h2 class="titulo-pagina">LISTA DE USUÁRIOS CADASTRADOS</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <br/>
                    <a th:href="@{/cadastroUsuario}"><button class="btn btn-primary rounded-pill px-3">ADICIONAR</button></a>
                </div>
            </div>
            <div class="row tabela-lista">
                <table id="tabelaUsuarios">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>CPF</th>
                            <th>Data de Nascimento</th>
                            <th>Data de Admissão</th>
                            <th>Celular</th>
                            <th>Salário</th>
                            <th>Cargo</th>
                            <th>Usuário</th>
                            <th>Senha</th>
                            <th colspan="2">Funções</th>
                        </tr>
                    </thead>
    
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <footer th:insert="~{footer.html}"></footer>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> 
     <script th:src="@{/js/script.js}"></script>
</body>
</html>