<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>

    <title>Controle de Vendas</title>
</head>
<body>
    <header th:insert="~{header.html}"></header>

    <div class="main-content">
        <h2 class="titulo-pagina">HISTÓRICO DE VENDAS</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-3 div-pesquisa">
                    <label for="idVenda">ID</label>
                <input class="rounded form-control" type="number" id="idVenda" name="idVenda" placeholder="Pesquisar por ID de venda"/>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <br/>
                    <a th:href="@{/cadastroVenda}"><button class="btn btn-primary rounded-pill px-3">ADICIONAR</button></a>
                </div>
            </div>
           
            <div class="row tabela-lista">
                <table id="tabelaVendas">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Valor da Venda</th>
                            <th>Hora da Venda</th>
                            <th>Número de Parcelas</th>
                            <th>Data da Venda</th>
                            <th>Forma de Pagamento</th>
                            <th colspan="2">Funções</th>
                        </tr>
                    </thead>
    
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <footer th:insert="~{footer.html}"></footer>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> 
     <script th:src="@{/js/script.js}"></script>
</body>
</html>