<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>

    <title>Controle de Usuário</title>
</head>
<body>
    <header th:insert="~{header.html}"></header>

    <div class="main-content">
        <h2 class="titulo-pagina">LISTA DE USUÁRIOS CADASTRADOS</h2>
        <div class="container">
            <div class="div-pesquisa">
                <label for="nomeFuncionario">Nome</label>
                <input class="rounded form-control" type="text" id="nomeFuncionario" name="nomeFuncionario" placeholder="Pesquisar por nome do funcionário"/>
            </div>

            <div class="row tabela-lista">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>CPF</th>
                            <th>Data de Nascimento</th>
                            <th>Data de Admissão</th>
                            <th>Celular</th>
                            <th>Salário</th>
                            <th>Cargo</th>
                            <th>Usuário</th>
                            <th>Senha</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Jonas</td>
                            <td>000.000.000-99</td>
                            <td>21/02/1995</td>
                            <td>30/05/2017</td>
                            <td>99448-4486</td>
                            <td>1682,00</td>
                            <td>Vendedor</td>
                            <td>jonas</td>
                            <td>1234</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Bob</td>
                            <td>203.020.104-99</td>
                            <td>12/03/1989</td>
                            <td>05/08/2007</td>
                            <td>91428-4482</td>
                            <td>4500,00</td>
                            <td>Gerente</td>
                            <td>bob</td>
                            <td>1234</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Laura</td>
                            <td>123.405.102-99</td>
                            <td>03/03/2000</td>
                            <td>12/12/2021</td>
                            <td>93141-4688</td>
                            <td>1682,00</td>
                            <td>Vendedor</td>
                            <td>laura</td>
                            <td>1234</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="row botao-listagem">
                        <div class="col-md-6">
                            <!--<a th:href="@{/}"><button class="btn btnSecundario btn-primary rounded-pill px-3">CANCELAR</button></a>-->
                        </div>
                        <div class="col-md-6">
                            <a th:href="@{/editarUsuario}"><button class="btn btn-primary rounded-pill px-3">EDITAR</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
    <footer th:insert="~{footer.html}"></footer>
</body>
</html>