<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>

    <title>Controle de Produto</title>
</head>
<body>
    <header th:insert="~{header.html}"></header>

    <div class="main-content">
        <h2 class="titulo-pagina">ESTOQUE</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-3 div-pesquisa">
                    <label for="nomeProduto">Nome</label>
                    <input class="rounded form-control" type="text" id="nomeProduto" name="nomeProduto" placeholder="Pesquisar por nome do produto"/>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <br/>
                    <a th:href="@{/cadastroProduto}"><button class="btn btn-primary rounded-pill px-3">ADICIONAR</button></a>
                </div>
            </div>

            <div class="row tabela-lista">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Valor</th>
                            <th>Quantidade</th>
                            <th>Categoria</th>
                            <th colspan="2">Funções</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="prod : ${listarProdutos}">
                            <td th:text="${prod.id}"/>
                            <td th:text="${prod.nome}"/>
                            <td th:text="${prod.valor}"/>
                            <td th:text="${prod.quantidade}"/>
                            <td th:text="${prod.categoria}"/>
                            <td><a th:href="@{/editarProduto/{id}(id=${prod.id})}"><i class="bi bi-pencil" style="font-size: 1rem;" title="Editar"/></a></td>
                            <td><a th:href="@{/deletarProduto/{id}(id=${prod.id})}"><i class="bi bi-x-lg" style="font-size: 1rem; color: red;" title="Apagar"/></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="row botao-listagem">
                        <div class="col-md-6">
                            <!--<a th:href="@{/}"><button class="btn btnSecundario btn-primary rounded-pill px-3">CANCELAR</button></a>-->
                        </div>
                        <div class="col-md-6">
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
    <footer th:insert="~{footer.html}"></footer>
</body>
</html>