<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>

    <title>Editar Venda</title>
</head>
<body>
    <header th:insert="~{header.html}"></header>

    <div class="main-content">
        <h2 class="titulo-pagina">EDITAR VENDA</h2>

        <div class="container">
            <form class="form-padrao" action="#" th:action="@{/salvarVenda}" th:object="${venda}" method="POST">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="valor">Valor da Venda</label><br/>
                                <input th:field="*{valor_total}" class="rounded form-control" type="text" id="valor" name="valor" maxlength="15" pattern="[0-9]+\.[0-9]{2}" 
                                       placeholder="Informe o valor x.xx"/>
                                <span class="text-danger" th:if="${#fields.hasErrors('valor_total')}" th:errors="*{valor_total}"></span>
                                <br/>

                                <label for="horaVenda">Hora da Venda</label><br/>
                                <input th:field="*{hora_venda}" class="rounded form-control" type="time" id="horaVenda" name="horaVenda"/>
                                <span class="text-danger" th:if="${#fields.hasErrors('hora_venda')}" th:errors="*{hora_venda}"></span>
                                <br/>

                                <label for="numeroParcela">Número de Parcelas</label><br/>
                                <input th:field="*{numero_parcelas}" class="rounded form-control" type="number" id="numeroParcela" name="numeroParcela" 
                                       placeholder="Informe um número inteiro, ex: 2."/>
                                <span class="text-danger" th:if="${#fields.hasErrors('numero_parcelas')}" th:errors="*{numero_parcelas}"></span>
                            </div>

                            <div class="col-md-6">
                                <label for="dataVenda">Data da Venda</label><br/>
                                <input th:field="*{data_venda}" class="rounded form-control" type="date" id="dataVenda" name="dataVenda"/>
                                <span class="text-danger" th:if="${#fields.hasErrors('data_venda')}" th:errors="*{data_venda}"></span>
                                <br/>

                                <label for="formaPagamento">Forma de Pagamento</label><br/>
                                <select th:field="*{forma_pagamento}" class="form-select" name="formaPagamento" id="formaPagamento">
                                    <option value="cartaoCredito">Cartão de Crédito</option>
                                    <option value="cartaoDebito">Cartão de Débito</option>
                                    <option value="Dinheiro">Dinheiro</option>
                                    <option value="pix">PIX</option>
                                </select>
                            </div>
                            <input type="hidden" th:field="*{id}"/> 
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <a class="aBtn btn btnSecundario btn-primary rounded-pill px-3" th:href="@{/controleVenda}">CANCELAR</a>
                            </div>
                            <div class="col-md-6">
                                <input type="submit" value="EDITAR" class="btn btn-primary rounded-pill px-3"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </form>
        </div>
    </div>
    <footer th:insert="~{footer.html}"></footer>
</body>
</html>