<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt-br">
    <head>
        <title>Footer</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
        <link rel="stylesheet" th:href="@{/css/style.css}" />
    </head>
    <body>
        <footer>
            <div class="conteudo-footer">
                <h2>Contatos</h2>
                <div class="item"><a href="#"><img th:src="@{/images/email.png}"/></a></div>
                <div class="item"><a href="#"><img th:src="@{/images/facebook.png}"/></a></div>
                <div class="item"><a href="#"><img th:src="@{/images/instagram.png}"/></a></div>
                <div class="item"><a href="#"><img th:src="@{/images/twitter.png}"/></a></div>
            </div>
        </footer>
    </body>
</html>
