<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt-br">
    <head>
        <title>Home</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
    </head>
    <body>
        <header th:insert="~{header.html}"></header>
        
        <div class="main-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 bloco-mensagem-inicial">
                        <h1>Seja bem vindo a Papelaria Tesourinha</h1>
                        <br/><br/>
                        <p>Use os menus abaixo ou na barra de topo da página para navegar pelo site!</p>
                    </div>
                    <div class="col-md-1"></div>
                </div>

                <div class="row menus">
                    <div class="col-md-1"></div>
                    <div class="col-md-3 menu-venda">
                        <h2>MENU VENDA</h2>
                        <p>No campo Venda, você pode cadastrar, editar e visualizar vendas!</p>
                        <a th:href="@{/controleVenda}"><input type="button" value="IR" class="btn btn-primary rounded-pill px-3"/></a>
                    </div>
                    <div class="col-md-3 menu-estoque">
                        <h2>MENU ESTOQUE</h2>
                        <p>No campo Estoque, você pode cadastrar, editar e visualizar produtos!</p>
                        <a th:href="@{/controleProduto}"><input type="button" value="IR" class="btn btn-primary rounded-pill px-3"/></a>
                    </div>
                    <div class="col-md-3 menu-usuario">
                        <h2>MENU USUÁRIO</h2>
                        <p>No campo Usuário, você pode cadastrar, editar e visualizar usuários!</p>
                        <a th:href="@{/controleUsuario}"><input type="button" value="IR" class="btn btn-primary rounded-pill px-3"/></a>
                    </div>
                </div>
            </div>
        </div>
        
        <footer th:insert="~{footer.html}"></footer>
    </body>
</html>
