<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>

    <title>Login</title>
</head>
<body>
    <header>
        <img th:src="@{/images/Logo.png}"/>
    </header>

    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 bloco-mensagem-inicial">
                    <h1>Seja bem vindo a Papelaria Tesourinha</h1>
                    <br/><br/>
                    <p>Faça login abaixo!</p>
                </div>
                <div class="col-md-1"></div>
            </div>

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 form-login">
                    <form id="formLogin">
                        <h3>LOGIN</h3>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <label for="txt_usuario_nome">Usuário</label>
                            <input class="rounded form-control" type="text" id="txt_usuario_nome" name="usuario" maxlength="10"/>
                            <br/>
                        </div>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <label for="txt_senha">Senha</label>
                            <input class="rounded form-control" type="password" id="txt_senha" name="senha"/>
                        </div>
                        <input type="submit" value="ENTRAR" class="btn btn-primary rounded-pill px-3"/>
                    </form>                    
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
    <footer th:insert="~{footer.html}"></footer>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> 
     <script th:src="@{/js/script.js}"></script>
</body>
</html>